<link rel="icon" href="/static/img/logo/favicon.ico" sizes="any">
<link rel="icon" type="image/svg+xml" href="/static/img/logo/favicon.svg">
<link rel="apple-touch-icon" href="/static/img/logo/favicon-180.png">
<meta property="og:title" content="Sintonía">
<meta property="og:description" content="Programación y censo del equipo.">
<meta property="og:image" content="{{ request.base_url }}static/img/logo/icon-512.png">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ request.base_url }}static/img/logo/icon-512.png">
